* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    height: 100px;
font-family: cursive;
}
.container {
    background-color: #33b5e5;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 2 4px 8px rgb(red, green, blue)
}



.login-box h2 {
    color: #33b5e5;
    margin-bottom: 20px;
}

body {
    display: flex;
    
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #2b1055, #7597de);
    font-family: Arial, sans-serif;
}